$breakpointXs: 0px;
$breakpointSm: 600px;
$breakpointMd: 960px;
$breakpointLg: 1280px;
$breakpointXl: 1920px;

$grid-breakpoints: (
  xs: $breakpointXs,
  sm: $breakpointSm,
  md: $breakpointMd,
  lg: $breakpointLg,
  xl: $breakpointXl
);

:export {
  breakpointXs: $breakpointXs;
  breakpointSm: $breakpointSm;
  breakpointMd: $breakpointMd;
  breakpointLg: $breakpointLg;
  breakpointXl: $breakpointXl;
}
