$headerFontFamily: "" Roboto ", " Helvetica ", " Arial ", sans-serif";
$bodyFontFamily: "" Roboto ", " Helvetica ", " Arial ", sans-serif";

$htmlFontSize: 16;
$fontFamily: $bodyFontFamily;
$fontSize: 16;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$h1FontFamily: $headerFontFamily;
$h1FontWeight: 300;
$h1FontSize: "6rem";
$h1LineHeight: 1.1167;

$h2FontFamily: $headerFontFamily;
$h2FontWeight: 300;
$h2FontSize: "3.75rem";
$h2LineHeight: 1.2;

$h3FontFamily: $headerFontFamily;
$h3FontWeight: 400;
$h3FontSize: "3rem";
$h3LineHeight: 1.167;

$h4FontFamily: $headerFontFamily;
$h4FontWeight: 400;
$h4FontSize: "2.125rem";
$h4LineHeight: 1.235;

$h5FontFamily: $headerFontFamily;
$h5FontWeight: 400;
$h5FontSize: "1.5rem";
$h5LineHeight: 1.334;

$h6FontFamily: $headerFontFamily;
$h6FontWeight: 500;
$h6FontSize: "1.25rem";
$h6LineHeight: 1.6;

$subtitle1FontFamily: $bodyFontFamily;
$subtitle1FontWeight: 400;
$subtitle1FontSize: "1rem";
$subtitle1LineHeight: 1.75;

$subtitle2FontFamily: $bodyFontFamily;
$subtitle2FontWeight: 500;
$subtitle2FontSize: "0.875rem";
$subtitle2LineHeight: 1.57;

$body1FontFamily: $bodyFontFamily;
$body1FontWeight: 400;
$body1FontSize: "1rem";
$body1LineHeight: 1.5;

$body1FontFamily: $bodyFontFamily;
$body1FontWeight: 400;
$body1FontSize: "0.875rem";
$body1LineHeight: 1.43;

$buttonFontFamily: $bodyFontFamily;
$body1FontWeight: 500;
$body1FontSize: "0.875rem";
$body1LineHeight: 1.75;
$textTransform: "uppercase";

$captionFontFamily: $bodyFontFamily;
$captionFontWeight: 400;
$captionFontSize: "0.75rem";
$captionLineHeight: 1.66;

$overlineFontFamily: $bodyFontFamily;
$overlineFontWeight: 400;
$overlineFontSize: "0.75rem";
$overlineLineHeight: 2.66;
